<div class="jumbotron">
  <h1>Welcome to PartialArts</h1>
</div>

<%= artists_url %> <br>
<%= link_to("Artists by Belt Color", "/belts") %> <br>
<!-- <a href="/belts">Artists by Belt Color</a> <br> -->
<a href="/categories">Artists by Category</a> <br>

<div class="belt-statistics">
  <h3>Belt Stats</h3>
  <% @belt_statistics.each do |belt, count| %>
    <%= erb :_belt_statistics, locals: { belt: belt, count: count} %>
  <% end %>
</div>

<div class="category-statistics">
  <h3>Category Stats</h3>
  <% @category_statistics.each do |category, count| %>
    <%= erb :'shared/_statistics', locals: {object: category.name, count: count } %>
  <% end %>
</div>

<div class="hometown-statistics">
  <h3>Hometown Stats</h3>
  <% @location_statistics.each do |location, count| %>
    <%= erb :'shared/_statistics', locals: {object: location, count: count } %>
  <% end %>
</div>
